.tutorial {
	margin-top: 30px;
	margin-bottom: 50px;
}

.tutorial * {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

p > span.code {
	font-family: 'Courier', sans-serif;
}

.tutorial-photo {
	margin: 20px auto 40px;
}

@media only screen and (max-width: 800px) {
	nav .brand-logo {
		font-size: 1.2em;
	}
}
