.cover-image {
	text-align: center;
	width: 100%;
	height: 400px;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url('https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Frgb_led_cube%2Foverview.jpg?alt=media&token=6fa255f2-8974-4f97-b8bf-64fbc365d7a9');
}

.project-title {
	font-size: 3em;
	color: white;
	padding-top: 160px;
	font-family: 'Lato', sans-serif;
}

.project-date {
	color: white;
	font-style: italic;
}

.project-content {
	margin-top: 50px;
	font-size: 1.1em;
}

p {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.project-photo {
	width: 100%;
}

.gallery-photo {
	width: 100%;
	margin: 10px auto;
}

.project-description {
	font-size: 1.2em;
}

.led-cube {
	margin: 0 auto;
}

.toc-margin {
	margin-top: 100px;
}

.toc-header {
	font-weight: 600;
}

.table-of-contents a.active {
	border-left: 2px solid #03A9F4;
}

.table-of-contents a:hover {
	border-left: 1px solid #03A9F4;
}

.bit-angle {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

@media only screen and (min-width : 992px) {
	.led-cube {
		width: 90%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.project-description {
		margin-top: 20px;
	}
}

.pinned {
	position: fixed !important;
}
