<ul class="side-nav-list">
	<li class="self-portrait-li"><div class="user-view">
		<div class="background">
			<img src="assets/images/self_portrait.jpg" class="self-portrait">
		</div>
	</div></li>

	<li><div class="intro-name">William Huang</div></li>

	<li><a class="waves-effect waves-red" [routerLink]="['/', 'projects']">
		<i class="material-icons">toys</i>Projects</a>
	</li>
	<li><a class="waves-effect waves-orange" [routerLink]="['/', 'tutorials']">
		<i class="material-icons">school</i>Tutorials</a>
	</li>
	<li><a class="waves-effect waves-green" [routerLink]="['/', 'books']">
		<i class="material-icons">library_books</i>Book Review</a>
	</li>

	<li><div class="divider"></div></li>
	<!--<li><a class="subheader">Social Media</a></li>-->
	<li class="center-align media_group">
		<a id="media_group_no_hover">
			<img (click)="goToTwitter()"
				 src="assets/images/twitter.svg" class="social_media_icon tooltipped"
				 materialize="tooltip" data-position="bottom"
				 data-delay="50" data-tooltip="Twitter">
			<img (click)="goToLinkedIn()"
				 src="assets/images/linkedin.svg" class="social_media_icon tooltipped"
				 materialize="tooltip" data-position="bottom"
				 data-delay="50" data-tooltip="LinkedIn">
			<img (click)="goToGithub()"
				 src="assets/images/github.svg" class="social_media_icon tooltipped"
				 materialize="tooltip" data-position="bottom"
				 data-delay="50" data-tooltip="GitHub">
		</a>
	</li>

</ul>
