<style>

	.header-container {
		height: 400px;
		width: 100%;
		text-align: center;
	}

	.ethereum-logo {
		max-width: 320px;
		max-height: 139px;
		margin-top: 80px;
	}

	.project-title {
		font-size: 4em;
		font-family: 'Lato', sans-serif;
		margin-top: 10px;
		text-align: center;
	}

	.project-date {
		font-style: italic;
		text-align: center;
	}

	.project-content {
		margin-top: 50px;
		font-size: 1.1em;
	}

	.title-icon {
		font-size: 0.9em;
	}

	p {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	.clear-code {
		width: 100%;
		margin-top: 30px;
		font-size: 13px;
		font-family: 'Monaco', sans-serif !important;
		text-align: left;
		background-color: transparent;
	}

	.project-photo {
		width: 100%;
	}

	.caption {
		margin-top: 7px;
		text-align: center;
		width: 100%;
		color: darkgrey;
		margin-bottom: 10px;
	}

	.project-description {
		font-size: 1.2em;
		text-align: center;
	}

	.description-image {
		width: 180px;
		height: 180px;
		margin-bottom: 30px;
	}

	.toc-margin {
		margin-top: 100px;
	}

	.toc-header {
		font-weight: 600;
	}

	.table-of-contents a.active {
		border-left: 2px solid #03A9F4;
	}

	.table-of-contents a:hover {
		border-left: 1px solid #03A9F4;
	}

	a:focus, a:hover {
		color: #039be5;
	}

	@media only screen and (min-width : 992px) {
		.project-container {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media only screen and (max-width: 991px) {
		.project-content {
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
		}
		.project-description {
			margin-top: 20px;
		}
	}

	/* Extra Small Devices, Phones */
	@media only screen and (max-width : 480px) {
		.description-image {
			width: 120px;
			height: 120px;
		}
	}

	.pinned {
		position: fixed !important;
	}


</style>

<div class="header-container">
	<img src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Fdecentralized_amazon%2Fethereum.png?alt=media&token=bc9feab5-b535-468e-8cff-9e4ad3fab48b" class="ethereum-logo">
	<div class="project-title">ERC20 Token Exchange</div>
	<div class="project-date">Completed November 2017</div>
</div>

<div class="project-container">

	<div class="row">
		<div class="col s12 m9 l10">

			<div id="overview" class="section scrollspy">

				<h2 class="center-align">Project Overview</h2>

				<div class="row project-content">
					<div class="project-description center">
						<p>
							The Token Exchange is a platform users can use to exchange various ERC20 compliant tokens for ether, using an easy
							to use interface to post sales and view listings. The exchange contract stores both tokens and ether for users to easily
							exchange between the two. The exchange smart contract is fully tested using truffle tests, and is currently deployed
							on the ethereum Rinkeby network at address 0xe4b389a95263743320d3665a6dbed89fb12de86d. Users can interact with the contract
							using a client-side ethereum node such as metamask or the mist browser.
						</p>
						<p>
							The Token Exchange currently running on the Rinkeby ethereum network and the front-end application can be found
							<a target="_blank" href="https://william2958.github.io/ERC20TokenExchange/">here</a>.
						</p>
					</div>
				</div>

			</div>

			<div id="functionality" class="section scrollspy">

				<h2 class="center-align">Functionality</h2>

				<div class="row project-content">
					<div class="row">
						<img class="project-photo"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2FTokenExchange%2Ffunctionality.jpg?alt=media&token=e0260e4d-d7e8-44aa-a20f-599b919c10b9">
						<div class="caption">Overview of the manage Tokens page.</div>
					</div>
					<div class="row project-description center">
						<p>
							When a user visits the token exchange website, they are greeted with the page where they can deposit/withdraw tokens and ether. The exchange
							can easily trade any ERC20 compliant token, since the current available token you see now is ERC20 compliant. The exchange handles all of the
							token exchange logic for the client, so that the client only needs to choose how much ether they want to buy/sell their tokens for.
						</p>
					</div>
				</div>


				<div class="row project-content">
					<div class="row">
						<img class="project-photo"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2FTokenExchange%2Fmanagetoken.jpg?alt=media&token=5e8d9449-f7b5-4eb3-8380-217a2281f774">
						<div class="caption">When viewing the manage token page.</div>
					</div>
					<div class="row project-description center">
						<p>
							This is where the administrator (owner) of the exchange contract can add additional ERC20 tokens to traded on the exchange. Before a user can
							add tokens to the exchange, they will need to approve the exchange at the ERC20 token contract, so that the exchange can withdraw the tokens from
							the user's account. This is also done in this page. The user can also send tokens directly to another account here.
						</p>
					</div>
				</div>

				<div class="row project-content">
					<div class="row">
						<img class="project-photo"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2FTokenExchange%2Fbuyselltoken.png?alt=media&token=dcb03ca0-4961-4c5a-a59c-0d08065c596c">
						<div class="caption">The Buy/Sell Token page.</div>
					</div>
					<div class="row project-description center">
						<p>
							In this page the user can view all available buy/sell prices for a particular token.
						</p>
					</div>
				</div>

			</div>

			<div id="authentication" class="section scrollspy">

				<h2 class="center-align">Authentication</h2>

				<div class="row project-content">
					<div class="project-description">
						<img class="description-image" src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2FTokenExchange%2Fmetamask.png?alt=media&token=4a69a4e9-f968-45cf-adb7-f297f8bafefb" alt="">
						<img class="description-image" src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2FTokenExchange%2Fmist.png?alt=media&token=020bd65d-2e4d-433f-843f-aaeafccb2cfe" alt="">
						<p>
							Since this is a distributed application, all authentication is handled client-side by something like metamask or mist. Or geth
							if you are interacting directly with the exchange contract. Authentication is secured inherently by the ethereum network, which verifies
							all of your transactions with cryptography.
						</p>
					</div>
				</div>

			</div>

			<div id="database" class="section scrollspy">

				<h2 class="center-align"><i class="material-icons title-icon">storage</i> Storage</h2>

				<div class="row project-content">
					<div class="col s12 project-description">
						<p>
							All of the data that is necessary for this application, including your user token/ether balance
							is all stored on the ethereum network, meaning every node has access to it. This means everyone will be
							able to see how many tokens or ether you have, but also means that all of your data is super secure behind the
							security guaranteed by the ethereum network.
						</p>
					</div>
				</div>

			</div>

			<div id="events" class="section scrollspy">

				<h2 class="center-align">Events</h2>

				<div class="row project-content">
					<div class="col s12 project-description">
						<p>
							In order to keep the front-end updated and make sure everyone can see updated buy/sell orders when they are available,
							a wide variety of events were needed. Here are all the events emitted by the token exchange contract.
						</p>

						<pre class="clear-code">
// Events for deposit/withdrawal
event DepositForTokenReceived(address indexed _from, uint indexed _symbolIndex, uint _amount, uint _timestamp);
event WithdrawalToken(address indexed _to, uint indexed _symbolIndex, uint _amount, uint _timestamp);
event DepositForEthReceived(address indexed _from, uint _amount, uint _timestamp);
event WithdrawalEth(address indexed _to, uint _amount, uint _timestamp);

// Events for orders
event LimitSellOrderCreated(uint indexed _symbolIndex, address indexed _who, uint _amountTokens, uint _priceInWei, uint _orderKey);
event SellOrderFulfilled(uint indexed _symbolIndex, uint _amount, uint _priceInWei, uint _orderKey);
event SellOrderCancelled(uint indexed _symbolIndex, uint _priceInWei, uint _orderKey);
event LimitBuyOrderCreated(uint indexed _symbolIndex, address indexed _who, uint _amountTokens, uint _priceInWei, uint _orderKey);
event BuyOrderFulfilled(uint indexed _symbolIndex, uint _amount, uint _priceInWei, uint _orderKey);
event BuyOrderCancelled(uint indexed _symbolIndex, uint _priceInWei, uint _orderKey);

// Events for management
event TokenAddedToSystem(uint _symbolIndex, string _token, uint _timestamp);</pre>

						<div class="caption">The 11 events that are emitted by the exchange token contract.</div>
						<p>
							The front-end application will listen to these events and update the buy/sell order lists appropriately. It
							will also listen for token/ether deposits and withdrawals, making sure the front-end balances are always updated.
							These events can also be filtered so that the front-end only listens to deposits/withdrawals for their own account, for example.
						</p>
					</div>
				</div>

			</div>

			<div id="testing" class="section scrollspy">

				<h2 class="center-align">Testing</h2>

				<div class="row project-content">
					<div class="col s12 project-description">
						<img class="description-image" src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2FTokenExchange%2Ftruffle.png?alt=media&token=f990d824-750e-41e2-a362-1ad5b238c7cc" alt="">
						<p>
							Because ethereum contracts cannot be altered once deployed onto a public network, they need to be thoroughly tested in development.
							The token exchange is very thoroughly tested using truffle, and makes sure that all of the features are working and that there are
							no bugs before deployment. The contract is tested using chai and mocha.
						</p>
					</div>
				</div>
			</div>

			<div id="code" class="section scrollspy">

				<h2 class="center-align">The Code</h2>

				<div class="row project-content">
					<div class="col s12 project-description">
						<img class="description-image" src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2FTokenExchange%2Fgithub.png?alt=media&token=588aac1e-288e-4b5c-af58-1eba9647c3fc" alt="">
						<p>
							The Token Exchange contract, example ERC20 TokenContract, and front-end can both be found <a target="_blank" href="https://github.com/william2958/ERC20TokenExchange">here</a>
						</p>
					</div>
				</div>

			</div>

		</div>

		<div class="col hide-on-small-only m3 l2">
			<div class="toc-wrapper pinned">
				<div class="toc-margin">

					<div style="height: 1px;">
						<div class="toc-header">Table of Contents</div>
						<ul class="section table-of-contents">
							<li><a href="#overview">Overview</a></li>
							<li><a href="#functionality">Functionality</a></li>
							<li><a href="#authentication">Authentication</a></li>
							<li><a href="#database">Storage</a></li>
							<li><a href="#events">Events</a></li>
							<li><a href="#testing">Testing</a></li>
							<li><a href="#code">The Code</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
