<nav class="title-nav">
	<div class="nav-wrapper">
		<a class="brand-logo center">William's Book Review</a>
	</div>
</nav>

<div class="books">

	<div class="intro-paragraph">
		"A reader lives a thousand lives before he dies.
			The man who never reads lives only once."
		<div class="quote-author">- George R.R. Martin</div>
	</div>

	<div class="col s12 m7" *ngFor="let book of books">
		<div class="card horizontal">
			<div class="card-image">
				<img class="cover-image" [src]="book.coverPhoto">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="rating">{{book.rating}} / 10</span>
					<h4>{{book.title}}</h4>
					<span class="author">{{book.author}} - {{book.date_added | date: 'MMM dd, y'}}</span>
					<div class="description">{{book.description}}</div>
				</div>
				<div class="card-action right-align">
					<a target="_blank" [href]="book.mediumLink">Read the full review on medium</a>
				</div>
			</div>
		</div>
	</div>

</div>

<a *ngIf="!allBooksLoaded" (click)="loadMoreBooks()">Load more</a>
