.books {
	width: 90%;
	margin: 20px auto;
}

.books-title {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.intro-paragraph {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	width: 60%;
	font-size: 1.8em;
	margin: 20px auto 30px auto;
	text-align: center;
}

.quote-author {
	font-family: 'Lato', sans-serif;
	text-align: right;
	font-size: 0.6em;
}

.card.horizontal .card-image img {
	width: 150px;
}

h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.author {
	font-style: italic;
}

.recommended {
	float: right;
	cursor: default;
	padding-right: 5px;
	padding-top: 1px;
}

.recommended-star {
	color: #FFC107;
}

.rating {
	float: right;
	font-size: 1.4em;
	cursor: default;
}

.description {
	margin-top: 10px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: green;
}

.load-more {
	margin-top: 20px;
	text-align: center;
}

.visible-md-flex {
	display: none!important;
}

.visible-xs-flex {
	display: none!important;
}

@media (min-width: 631px) {
	.visible-md-flex {
		display: flex!important;
	}
}

@media (max-width: 630px) {
	.visible-xs-flex {
		display: block!important;
	}
	.card-image {
		width: 60%;
		margin: 0 auto;
	}
	.card-content {
		margin-top: 10px;
	}
	.intro-paragraph {
		width: 90%;
	}
}
