<nav class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a class="brand-logo center books-title">Book Review</a>
		</div>
	</nav>
</nav>

<div class="books">

	<div class="intro-paragraph">
		"A reader lives a thousand lives before he dies.
			The man who never reads lives only once."
		<div class="quote-author">- George R.R. Martin</div>
	</div>

	<div class="row" *ngFor="let book of books">

		<!-- For large Sized Screens -->
		<div class="card horizontal visible-md-flex">
			<div class="card-image">
				<img class="cover-image" [src]="book.coverPhoto">
			</div>
			<div class="card-stacked">
				<div class="card-content">
					<span class="rating">{{book.rating}} / 10</span>
					<span *ngIf="book.recommended" class="recommended">
						<i class="material-icons tooltipped recommended-star" materialize="tooltip"
							data-position="top" data-delay="50" data-tooltip="Recommended">star</i>
					</span>
					<h4>{{book.title}}</h4>
					<span class="author">{{book.author}} - {{book.date_added | date: 'MMM dd, y'}}</span>
					<div class="description">{{book.description}}</div>
				</div>
				<div class="card-action right-align">
					<a target="_blank" [href]="book.mediumLink">Read the full review on medium</a>
				</div>
			</div>
		</div>

		<!-- For phone sized screens -->
		<div class="card visible-xs-flex">
			<div class="card-image">
				<img class="cover-image" [src]="book.coverPhoto">
			</div>
			<div class="card-content">
				<h4>{{book.title}}</h4>
				<span class="rating">{{book.rating}} / 10</span>
				<span *ngIf="book.recommended" class="recommended">
					<i class="material-icons tooltipped recommended-star" materialize="tooltip"
					   data-position="top" data-delay="50" data-tooltip="Recommended">star</i>
				</span>
				<p>{{book.description}}</p>
			</div>
			<div class="card-action right-align">
				<a target="_blank" [href]="book.mediumLink">Read the full review on medium</a>
			</div>
		</div>

	</div>

</div>

<div class="load-more">
	<a *ngIf="!allBooksLoaded" (click)="loadMoreBooks()">Load more</a>
</div>
