<nav class="title-nav">
	<div class="nav-wrapper">
		<a class="brand-logo center projects-title">Projects</a>
	</div>
</nav>


<div class="project-container" *ngIf="projects">

	<div class="row">
		<div *ngFor="let project of projects" class="col m6">
			<div class="card project-card">
				<div (click)="goToProject(project)" class="card-image">
					<img [src]="project.cover_image">
					<span class="card-title right-align">{{project.title}}</span>
				</div>
				<div class="card-content">

					<!--<span *ngIf="project.category == 'HARDWARE'" class="badge left hwcolor tooltipped hidden-smplus"-->
						<!--materialize="tooltip" data-position="top"-->
						<!--data-delay="50" data-tooltip="HARDWARE">HDW</span>-->
					<span *ngIf="project.category == 'HARDWARE'" class="badge left hwcolor">HARDWARE</span>
					<span *ngIf="project.category == 'WEB'" class="badge left webcolor">WEB</span>
					<!--<span *ngIf="project.category == 'DL'" class="badge left dlcolor tooltipped"-->
						<!--materialize="tooltip" data-position="top"-->
						<!--data-delay="50" data-tooltip="DEEP LEARNING">DL</span>-->
					<span *ngIf="project.category == 'DL'" class="badge left dlcolor">DEEP LEARNING</span>
					<span *ngIf="project.category == 'BLOCKCHAIN'" class="badge left hwcolor">BLOCKCHAIN</span>

					<p class="right-align date">
						Completed {{project.date_completed}}
					</p>

					<div class="row" *ngIf="project.category !== 'HARDWARE'; else hardware_short_description">
						<div class="col xl9">
							<p [innerHTML]="project.short_description | sanitizeHtml"></p>
						</div>
						<div class="col xl3 stack">
							<span class="stack-header">TECH STACK:</span>
							<ul>
								<li class="stack-list" *ngFor="let tech of project.stack">-&nbsp;{{tech}}</li>
							</ul>
							<div *ngIf="project.live" class="valign-wrapper live-link" (click)="goToWebsite(project.live)">
								<span>SEE LIVE</span>
								<i class="material-icons live-icon">launch</i>
							</div>
						</div>
					</div>

					<ng-template #hardware_short_description>
						<p [innerHTML]="project.short_description | sanitizeHtml"></p>
					</ng-template>



				</div>
			</div>
		</div>
	</div>

</div>

<div class="load-more">
	<a *ngIf="!allProjectsLoaded" (click)="loadMoreProjects()">Load more</a>
</div>
