.admin-nav {
	background-color: #0d47a1;
}

.add-experience-section {
	width: 80%;
	margin: 10px auto;
}

.add-project-section {
	width: 80%;
	margin: 10px auto;
}

.add-book-section {
	width: 80%;
	margin: 0 auto 30px;
}

.row {
	margin-bottom: 0;
}

.input-field {
	margin-top: 0;
}

.cover-preview {
	width: 66%;
}

.recommended-box {
	padding-top: 12px;
}
