<style>

	.cover-image {
		margin-top: 50px;
		text-align: center;
		width: 100%;
		height: 200px;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		background-image:url('https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Ffriday%2Ffriday_cover.png?alt=media&token=0c67d88f-33ad-47bb-81fc-c702e3962018');
	}

	.project-content {
		margin-top: 50px;
		font-size: 1.1em;
	}

	p {
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	.project-photo {
		width: 100%;
	}

	.caption {
		margin-top: 7px;
		text-align: center;
		width: 100%;
		color: darkgrey;
	}

	.project-description {
		font-size: 1.2em;
	}

	.toc-margin {
		margin-top: 100px;
	}

	.toc-header {
		font-weight: 600;
	}

	.table-of-contents a.active {
		border-left: 2px solid #03A9F4;
	}

	.table-of-contents a:hover {
		border-left: 1px solid #03A9F4;
	}

	@media only screen and (min-width : 992px) {
		.project-container {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media only screen and (max-width: 992px) {
		.media-container {
			float: none;
		}
		.media-icon {
			max-width: 200px;
		}
		.project-content {
			text-align: center;
			padding-left: 20px;
			padding-right: 20px;
		}
		.project-description {
			margin-top: 20px;
		}
	}

	.pinned {
		position: fixed !important;
	}

</style>

<div class="cover-image"></div>

<div class="project-container">

	<div class="row">
		<div class="col s12 m9 l10">

			<div id="overview" class="section scrollspy">

				<h2 class="center-align">Project Overview</h2>

				<div class="row project-content">
					<div class="project-description center">
						<p>
							Friday was designed to be a web based personal assistant that could keep track of all my online
							data. This included passwords and notes thus far. It allowed other users to sign up and use the service
							as well. This project is powered by Angular 4 and Google Firebase. Keeping all the technology within
							Google's ecosystem allowed for easy integration between the front-end and the back-end. The hosting,
							DNS, Database, and Authentication are all managed in the Firebase ecosystem.
						</p>
					</div>
				</div>

			</div>

			<div id="functionality" class="section scrollspy">

				<h2 class="center-align">Functionality</h2>

				<div class="row project-content">
					<div class="row">
						<img class="project-photo"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Ffriday%2Ffunctionality.jpg?alt=media&token=630e8933-38fa-40c0-9838-8ab2a5ee28f7">
						<div class="caption">When viewing your saved accounts.</div>
					</div>
					<div class="row project-description center">
						<p>
							Once a user logs in to the application, they are presented with a side navigation menu with links
							to view the user's notes, quicknotes, and accounts. Notes are long text documents that can only be edited
							when they are logged in. Quicknotes are notes that can be quickly added from the landing page without even having
							to login, and are added by simply providing an email address. To add/view accounts, they need to enter their own
							pin that is used to encrypt the account passwords. This pin is never kept on any database and is the user's responsibility
							to keep track of it, to make sure that the accounts are fully secured.
						</p>
					</div>
				</div>


				<div class="row project-content">
					<div class="col l3">
						<img class="project-photo"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Ffriday%2Fnew_account.jpg?alt=media&token=6f5dc4a3-3533-4e86-9921-744277edf506">
					</div>
					<div class="col l9 project-description">
						<p>
							When creating an account, the user is able to generate a password with a variety
							of options. They are also able to add a note to be stored with the account.
						</p>
					</div>
				</div>

			</div>

			<div id="authentication" class="section scrollspy">

				<h2 class="center-align">Authentication</h2>

				<div class="row project-content">
					<div class="col m6 l2">
						<img class="project-photo"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Ffriday%2Flogin.png?alt=media&token=42cf5e1c-4dd7-4837-a24a-a7c203574750">
					</div>
					<div class="col m6 l10 project-description">
						<p>
							Authentication in Friday is handled with Firebase Authentication services. This allows
							the application to easily offer Google OAuth sign in functionality. This also allows token
							communication with the server so the user doesn't have to login every time they visit the website.
							The login modal also offers a forgot password link, where the user can enter their email and
							receive a password reset email.
						</p>
					</div>
				</div>

			</div>

			<div id="database" class="section scrollspy">

				<h2 class="center-align">Firebase Real-Time Database</h2>

				<div class="row project-content">
					<div class="col s3 center-align">
						<img class="project-photo"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Ffriday%2Fdatabase.jpg?alt=media&token=c264f69d-5841-4d8d-9d3b-9921f4d692e6">
					</div>
					<div class="col s9 project-description">
						<p>
							All of the data for this application is hosted on Firebase's Real-Time Database. This allowed for easy access by the
							angular client, and enable easy CRUD and query operations on the data. The firebase database database is much less sophisticated
							than something like MongoDB, but is more than capable for a simple application like Friday. It's key features are that it is
							quick to set-up and use.
						</p>
						<p>
							There are certain nodes of the database that are secured and cannot be accessed by every user.
							These nodes are only accessible by Google Cloud Functions, which offers a secure way to interact
							with the database, making sure that a malicious attacker cannot get access to other user's personal data. All of this is enabled by the
							security rules of the Firebase Database and Google Cloud Functions.
						</p>
					</div>
				</div>

			</div>

			<div id="dns" class="section scrollspy">

				<h2 class="center-align">DNS</h2>

				<div class="row project-content">
					<div class="project-description">
						<p>
							Setting up the DNS for this application was actually quite challenging. First, when I first built friday with
							Rails and MongoDB, the DNS was managed by CloudFlare after changing the namespace on GoDaddy. Another alternatives I
							used were Route53 on AWS.
						</p>
						<p>
							Luckily, Google Cloud Platform offers DNS hosting and now manages all the DNS for assistantfriday.com. The application
							is hosted by firebase and the DNS namespace is also directed to firebase.
						</p>
					</div>
				</div>

			</div>

			<div id="code" class="section scrollspy">

				<h2 class="center-align">The Code</h2>

				<div class="row project-content">
					<div class="col l3 media-container">
						<img class="project-photo media-icon"
							 src="https://firebasestorage.googleapis.com/v0/b/william-9ab03.appspot.com/o/projectImages%2Fapollo_rides%2Fgithub.png?alt=media&token=2d598236-ed2a-467f-9529-285388ce84d4">
					</div>
					<div class="col l9 project-description">
						<p>
							The Angular 4 front-end application can be found <a target="_blank" href="https://github.com/william2958/Friday4.0">here</a>
						</p>
					</div>
				</div>

			</div>

		</div>

		<div class="col hide-on-small-only m3 l2">
			<div class="toc-wrapper pinned">
				<div class="toc-margin">

					<div style="height: 1px;">
						<div class="toc-header">Table of Contents</div>
						<ul class="section table-of-contents">
							<li><a href="#overview">Overview</a></li>
							<li><a href="#functionality">Functionality</a></li>
							<li><a href="#authentication">Authentication</a></li>
							<li><a href="#database">Database</a></li>
							<li><a href="#dns">DNS</a></li>
							<li><a href="#code">The Code</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
