<div class="container resume">
	<div class="row">
		<div class="col m6 resume-wrapper">
			<div class="resume-box">
				<i class="material-icons developer-icon">build</i>
				<div class="title">
					My Developer Resume
				</div>
				<div class="description">
					This resume is for developer jobs. Focuses on technical ability and
					side projects.
				</div>
				<div class="link">
					<a [href]="developerResumeDownloadUrl" [download]="developerResumeDownloadUrl">
						Download here
					</a>
				</div>
			</div>
		</div>
		<div class="col m6 resume-wrapper">
			<div class="resume-box">
				<i class="material-icons developer-icon">account_circle</i>
				<div class="title">
					My General Resume
				</div>
				<div class="description">
					This resume doesn't have any technical details and just showcases my
					work and volunteer experience.
				</div>
				<div class="link">
					<a [href]="generalResumeDownloadUrl" [download]="generalResumeDownloadUrl">
						Download here
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
