<div class="container resume">
	<div class="row">
		<div class="col m8 resume-wrapper">
			<div class="resume-box">
				<i class="material-icons developer-icon">build</i>
				<div class="title">
					My Developer Resume
				</div>
				<div class="description">
					This resume is for developer jobs. Focuses on technical ability and
					side projects.
				</div>
				<div class="link">
					<a [href]="developerResumeDownloadUrl" [download]="developerResumeDownloadUrl">
						Download here
					</a>
				</div>
			</div>
		</div>
		<div class="col m4 contact">
			<h4>Contact Me:</h4>

			<p>Email: william2958@gmail.com</p>
			<p>Skype: william2958@gmail.com</p>
		</div>
	</div>
</div>
