.tutorial-title-wrapper {
	text-align: center;
	clear: both;
}

.back_arrow {
	color: black;
	display: inline-block;
	margin-top: 22px;
	margin-left: 22px;
	padding-left: 0;
}

.tutorial-title {
	font-family: "Times New Roman", serif;
	font-weight: bold;
	letter-spacing: 1px;
	display: inline-block;
	font-size: 32px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

/* ADD EVERYTHING BELOW THIS LINE */

.tutorial {
	margin: 30px auto 50px;
	width: 85%;
}

.tutorial * {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

p > span.code {
	font-family: 'Monaco', sans-serif;
}

.tutorial-photo {
	margin: 20px auto 40px;
}

.tutorial-header {
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	margin-top: 45px;
	margin-bottom: 40px;
}

.tutorial-sub-header {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	margin-top: 45px;
	margin-bottom: 40px;
}

.tutorial-paragraph {
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
}

.tutorial-intro {
	font-size: 21px;
	margin-top: 45px;
	margin-bottom: 45px;
}

.tutorial-note {
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	color: #9E9E9E;
}

.tutorial-important {
	font-size: 18px;
	text-align: center;
	margin-top: 30px;
	color: #F44336;
}

.terminal-command {
	tab-size: 4;
	background-color: #424242;
	color: white;
	width: 80%;
	margin: 30px auto;
	padding: 18px;
	font-family: 'Monaco', sans-serif !important;
	font-size: 18px;
	text-align: left;
}

.normal-code {
	tab-size: 4;
	width: 80%;
	margin: 30px auto;
	background-color: #f5f2f0;
	font-family: 'Monaco', sans-serif !important;
}

.tutorial-list {
	width: 80%;
	margin: 10px auto;
	font-size: 16px;
}

.caption {
	margin-top: -10px;
	font-size: 14px;
	text-align: center;
	width: 100%;
	color: darkgrey;
	margin-bottom: 10px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 880px) {
	.terminal-command {
		width: 100%;
	}
	.normal-code {
		width: 100%;
	}
	.tutorial-list {
		width: 100%;
	}
}
