/* You can add global styles to this file, and also import other style files */

* {
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

a:focus {
	text-decoration: none;
}

.side-nav li>a:hover {
	background-color: white;
}

.success-toast {
	background-color: green;
}

.warning-toast {
	background-color: orange;
}

.error-toast {
	background-color: red;
}


.title-nav {
	background-color: #03A9F4;
}

.back_arrow {
	margin-left: 60px;
	padding-left: 18px;
	cursor: pointer;
	float: left;
}

.btn.focus, .btn:focus, .btn:hover {
	color: white;
}

span.badge {
	font-weight: 300;
	font-size: 0.8rem;
	color: #fff;
	background-color: #26a69a;
	border-radius: 2px;
}

span.dlcolor {
	background-color: #FF5722;
}

span.hwcolor {
	background-color: #607D8B;
}

span.bccolor {
	background-color: #212121;
}

span.webcolor {
	background-color: #4CAF50;
}

/* MOBILE FIRST CLASSES */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* DESKTOP FIRST CLASSES */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	nav .brand-logo {
		font-size: 1.6em;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	nav .brand-logo {
		font-size: 1.2em;
	}
}
