/* You can add global styles to this file, and also import other style files */

* {
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

a:focus {
	text-decoration: none;
}

.side-nav li>a:hover {
	background-color: white;
}

.success-toast {
	background-color: green;
}

.warning-toast {
	background-color: orange;
}

.error-toast {
	background-color: red;
}
