.home {
	padding-left: 300px;
	position: relative;
}

.show-nav-button {
	position: fixed;
	width: 48px;
	top: 18px;
	left: 20px;
	z-index: 9999;
	color: lightgray;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

@media only screen and (max-width : 992px) {
	.home {
		padding-left: 0;
	}
}
